Source: alsa-lib
Priority: extra
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Seungbae Shin <seungbae.shin@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libasound2-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libasound2 (= ${Source-Version}), libasound2-sdk-dev
Description: ALSA Library package for multimedia framework middleware package 
 ALSA Library package for multimedia framework middleware package 

Package: libasound2-sdk-dev
Section: libdevel
Architecture: any
Depends: libasound2 (= ${Source-Version})
Description: ALSA Library package for multimedia framework middleware package 
 ALSA Library package for multimedia framework middleware package 


Package: libasound2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ALSA Library package for multimedia framework middleware package 
 ALSA Library package for multimedia framework middleware package 
 
Package: libasound2-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libasound2(= ${Source-Version})
Description: ALSA Library package for multimedia framework middleware package 
 ALSA Library package for multimedia framework middleware package (unstripped)
